
.page-header {
    display: flex;
    background: url(../img/header_bg.png) no-repeat;
    width: 100%;
    height: 150px;
}

.usr-left {
}

.usr-avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 30px 40px;
    border: 1px solid;
}

.user-name {
    text-align: left;
    color: white;
    margin: 35px 0 0 30px;
    font-weight: bold;
}

.detail-num {
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-around;
    color: white;
}

.detail-cate {
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: space-around;
    color: darkgray;
}

.container {
    background-color: #e7e7e7;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

.left-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 1000px;
    margin: 10px;
}

.view-container {
    background-color: white;
    width: 700px;
    margin: 10px;
}

.icon {
    height: 20px;
    width: 20px;
}

.item {
    display: flex;
    width: 120px;
    align-items: center;
    margin: 25px 0 0 20px;
}

.item-name {
    margin-left: 20px;
}

span {
    margin-left: 10px;
}

.title {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-avator {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.view-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 50px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    color: orange;
    margin-right: 20px;
}

.item-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/* 微博内容方面 */

div.weibo-body-recycle-scroller {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 10px;
    width: 100%;
}

div.weibo-body-single {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    box-sizing: border-box;
}

article.weibo-body {
    /*background-color: #fff;*/
    background-color: #fff;
    /*box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);*/
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    border-color: #f2f2f2;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
}

div.weibo-main {
    padding: 20px 20px 0;
}

header.weibo-info {
    display: flex;
}

a.weibo-info-user-avatar {
    color: inherit;
    text-decoration: none;
}

div.weibo-info-user-avatar-body {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
}

div.weibo-info-user-avatar-body::before {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

img.weibo-info-user-avatar-img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

div.weibo-info-text {
    display: flex;
    align-self: stretch;
    box-sizing: border-box;
    margin-bottom: -4px;
    min-width: 0;
    margin-right: 10px;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

a.weibo-info-user-name {
    color: #333;
    line-height: 20px;
    margin-bottom: 7px;
    font-weight: bolder;
    font-size: 14px;
}

p.weibo-info-send-date {
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    margin-right: 5px;
    min-width: 0;
    color: #708090;
    text-decoration: none;
}

div.weibo-content {
    padding-left: 60px;
    overflow: hidden;
}

div.weibo-content-text {
    float: left;
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

div.weibo-content-img {
    flex-wrap: wrap;
    width: 75.6%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
}

div.weibo-content-img-single {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    flex-grow: 0;
    vertical-align: top;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    max-height: 300px;
    margin-bottom: 20px;
}

div.weibo-content-footer-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-align: center;
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
}

div.weibo-content-footer-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: stretch;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-size: 16px;
    color: grey;
    font-weight: 400;
    margin-left: -3px;
    height: 100%;
}

div.weibo-content-footer-icon-item {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    border-radius: 50%;
    height: 24px;
    margin-right: 6px;
}

span.icon-num {
    font-size: 12px;
    line-height: 12px;
}

i.comment-icon {
    font-family: woo, serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    line-height: 1;
}

i.comment-icon::before {
    content: url(../img/comment-16.png);
}

i.comment-icon:hover {
    content: url(../img/comment-16-fill.png);
}

i.like-icon {
    font-family: woo, serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    line-height: 1;
}

i.like-icon::before {
    content: url(../img/like-16.png);
}

i.like-icon:hover {
    content: url(../img/like-16-fill.png);
}

/* 分页栏样式 */
div.split-page-bottom {
    text-align: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.page-active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.page-active) {
    background-color: #ddd;
}

.comment-textarea {
    width: 80%;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

.comment-contents {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.single-comment {

}

.button-comment {
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    border-radius: 10px;
    /*background-color: white;*/
    background-color: #fff;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
    color: black;
    border: none;
    outline: none;
}

.button-comment:hover {
    background-color: #ff8200;
    color: white;
}