<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <title>401 - 页面找不到了</title>
    <link rel="stylesheet" href="/css/error.css"/>
</head>
<body>
<div class="wrap">
    <table>
        <tr>
            <td class="header">很抱歉！当前页面找不到了</td>
        </tr>
        <tr>
            <td>原因一：用户在短时间内输入三次错误密码，账户锁定一小时</td>
        </tr>
        <tr>
            <td>原因二：用户信息错误</td>
        </tr>
        <tr>
            <td>原因三：用户未激活</td>
        </tr>
        <!--        <tr>-->
        <!--            <td th:text="${param.msg}"></td>-->
        <!--        </tr>-->
        <tr>
            <td>如果无法解决问题，你可以通过发送邮件至<a href="lingguohan@bipt.edu.cn">我们的邮箱</a>反馈</td>
        </tr>
        <tr>
            <td class="check-info">或者，你也可以<a href="https://github.com/FAWC-bupt/WebFinal">访问项目Github仓库</a></td>
        </tr>
    </table>
</div>
</body>
</html>