<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>关注与粉丝</title>
    <link rel="stylesheet" href="/css/fans.css">
    <script src="/js/fans.js"></script>
</head>
<body>

<header>
    <div class="usr-left">
        <img class="usr-avatar" src="/img/user_avatar.JPG" alt="图片显示错误">
    </div>
    <div class="usr-info">
        <p class="user-name">wtl_bupt</p>
        <div class="info-detail">
            <div class="detail-num">
                <p>212</p>
                <p>45</p>
                <p>1152</p>
            </div>
            <div class="detail-cate">
                <p>关注数</p>
                <p>粉丝数</p>
                <p>微博数</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="left-box">
        <a href="myweibo.html">
            <div class="item">
                <img class="icon" src="/img/列表_0.png" alt="图片显示错误">
                <span>我的微博</span>
            </div>
        </a>
        <a href="fans.html">
            <div class="item">
                <img class="icon" src="/img/关注_1.png" alt="图片显示错误">
                <span style="color: orange">关注与粉丝</span>
            </div>
        </a>
        <a href="myat.html">
            <div class="item">
                <img class="icon" src="/img/艾特_0.png" alt="图片显示错误">
                <span>@与我相关</span>
            </div>
        </a>
    </div>
    <div class="view-container">
        <div class="title">
            <h3>我的关注</h3>
            <span>共4人</span>
        </div>
        <div class="view-item">
            <div class="item-left">
                <a class="item-img" href="fans.html">
                    <img src="/img/user_avatar.JPG" class="small-avator" alt="图片显示错误">
                </a>
                <a class="item-name" href="fans.html">wtl_bupt</a>
            </div>
            <a class="btn" href="fans.html">关注</a>
        </div>
    </div>
    <div class="view-container">
        <div class="title">
            <h3>我的粉丝</h3>
            <span>共3人</span>
        </div>
        <div class="view-item">
            <div class="item-left">
                <a class="item-img" href="fans.html">
                    <img src="/img/user_avatar.JPG" class="small-avator" alt="图片显示错误">
                </a>
                <a class="item-name" href="fans.html">wtl_bupt</a>
            </div>
            <a class="btn" href="fans.html">关注</a>
        </div>
    </div>
</div>

</body>
</html>