<!DOCTYPE html>
<html
        lang="zh"
        dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8"/>
    <title>主页</title>
    <link rel="stylesheet" href="/css/mainPage.css"/>
    <link
            type="text/css"
            href="https://fonts.font.im/css?family=Do+Hyeon"
            rel="stylesheet"
    />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="/js/mainPage.js"></script>
</head>

<body>

<script th:inline="javascript">
    const single = [[${alertMsg}]];
    if (single !== null) {
        alert(single)
    }
</script>

<div id="home-warp" class="home-warp">
    <div class="account-info">
        <button name="login-btn" id="login-btn" class="account-info-btn" sec:authorize="!isAuthenticated()">登录</button>
        <button name="logout-btn" id="logout-btn" class="account-info-btn" sec:authorize="isAuthenticated()">注销</button>
        <button name="reset-password-btn" id="reset-password-btn" class="account-info-btn"
                sec:authorize="isAuthenticated()">重置密码
        </button>
        <p id="welcome-title" class="welcome-title" sec:authorize="isAuthenticated()">欢迎，<span id="login-userName"
                                                                                               sec:authentication="name"></span>
        </p>
        <p class="welcome-title" sec:authorize="!isAuthenticated()">欢迎，游客</p>
    </div>
    <!-- 发送微博面板 -->
    <div class="send-panel">
        <form id="send-form" action="/release" method="post" th:action="@{/release}" enctype="multipart/form-data"
              style="display: flex;flex-direction: column;">
            <!-- 输入区域 -->
            <div class="input-body">
                <input type="hidden" id="at-targets" name="at-targets" value="">
                <div
                        sec:authorize="isAuthenticated()"
                        contenteditable="true"
                        th:placeholder="${errorMsg}?${errorMsg}:有什么新鲜事想分享给大家"
                        class="input-area"
                        id="weiboText-div"
                >
                </div>
                <textarea hidden name="weiboText" id="weiboText"></textarea>
                <!--                <div-->
                <!--                        sec:authorize="!isAuthenticated()"-->
                <!--                        contenteditable="true"-->
                <!--                        class="input-area"-->
                <!--                        style="background-color: rgba(255, 255, 255, 0);"-->
                <!--                ></div>-->
            </div>

            <!-- 下方按钮 -->
            <div class="buttons-flex" sec:authorize="isAuthenticated()">
                <div class="icon-items">
                    <div class="icon-item" title="@其他人">
                        <!-- i标签通过::before插入图片，详见
                      https://blog.csdn.net/crxk_/article/details/107338004
                      -->
                        <i class="at-icon"></i>
                    </div>
                    <div class="icon-item" title="发送图片">
                        <i id="img-icon" class="img-icon"></i>
                        <input type="file" id="upload-img" name="upload-img" style="display:none">
                    </div>
                </div>
                <!-- 输入框有内容才能enabled -->
                <button class="submit-button" type="submit" id="submit-button">
                    <span class="button-content">发送</span>
                </button>
            </div>
        </form>
    </div>
    <!-- 排序面板 -->
    <div class="sort-panel">
        <button id="publish-date" class="sort-panel-button-cur" type="button"
                th:onclick="window.location.href='/mainPage?type=0'">
            <span class="button-content">发布时间</span>
        </button>

        <button id="comment-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=1'">
            <span class="button-content">评论数</span>
        </button>

        <button id="like-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=2'">
            <span class="button-content">点赞数</span>
        </button>
    </div>

    <!-- 微博内容 -->
    <div class="weibo-body-recycle-scroller" style="margin: 10px">

        <div class="weibo-body-single" th:each="weibo:${weibos}">
            <article class="weibo-body">
                <div class="weibo-main">
                    <!-- 用户头像、用户名、发送时间 -->
                    <header class="weibo-info">
                        <!-- 用户头像，点击跳转用户页面 -->
                        <p hidden id="weibo-id" th:text="${weibo.getId()}"></p>
                        <a th:href="@{/myWeibo(id=${weibo.getWeiboUser().getId()})}" class="weibo-info-user-avatar"
                           sec:authorize="isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <a href="#" class="weibo-info-user-avatar" sec:authorize="!isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <!-- 用户名，发送时间 -->
                        <div class="weibo-info-text">
                            <!-- 用户名 -->
                            <a th:href="@{/myWeibo(id=${weibo.getWeiboUser().getId()})}" class="weibo-info-user-name"
                               sec:authorize="isAuthenticated()"
                               th:text="${weibo.getWeiboUser().getUsername()}"></a>
                            <a href="#" class="weibo-info-user-name" sec:authorize="!isAuthenticated()"
                               th:text="${weibo.getWeiboUser().getUsername()}"></a>
                            <!--                            <a href="#" class="weibo-info-user-name">LGH</a>-->
                            <!-- 发送时间 -->
                            <p th:text="${weibo.getReleaseTime()}" class="weibo-info-send-date">
                                5分钟前
                            </p>
                        </div>
                    </header>
                    <!-- 微博内容 -->
                    <div class="weibo-content">
                        <div class="weibo-content-text" th:text="${weibo.weiboText}">hello world</div>
                        <!--                        <div class="weibo-content-text">wtl</div>-->
                        <div class="weibo-content-img" th:each="pic:${weibo.getPictures()}">
                            <!-- 可以多个图片 -->
                            <div class="weibo-content-img-single">
                                <!--                                <img src="/img/test.jpg" alt="图片显示错误"/>-->
                                <img th:src="${pic.getPicturePath()}" alt="图片显示错误"/>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="weibo-content-footer">
                    <div class="weibo-content-footer-body">
                        <!-- 微博下方的评论按钮 -->
                        <div class="weibo-content-footer-item" th:onclick="comment_show([[${weibo.getId()}]])"
                             id="comment-area">
                            <div class="weibo-content-footer-icon-item" title="评论">
                                <i class="comment-icon"></i>
                            </div>
                            <span th:id="'commentNum'+${weibo.getId()}" class="icon-num"
                                  th:text="${weibo.getCommentNum()}"></span>
                            <!--                            <span class="icon-num">0</span>-->
                        </div>
                        <!-- 微博下方的点赞按钮 -->
                        <div class="weibo-content-footer-item" th:onclick="like_add([[${weibo.getId()}]])"
                             sec:authorize="isAuthenticated()" id="like-area">
                            <div class="weibo-content-footer-icon-item" title="点赞">
                                <i class="like-icon"></i>
                            </div>
                            <span class="icon-num" th:id="'likeNum'+${weibo.getId()}"
                                  th:text="${weibo.getLikeNum()}"></span>
                            <!--                            <span class="icon-num">4</span>-->
                        </div>
                        <div class="weibo-content-footer-item" onclick="alert('请先登录')"
                             sec:authorize="!isAuthenticated()">
                            <div class="weibo-content-footer-icon-item" title="点赞">
                                <i class="like-icon"></i>
                            </div>
                            <span class="icon-num" th:id="'likeNum'+${weibo.getId()}"
                                  th:text="${weibo.getLikeNum()}"></span>
                            <!--                            <span class="icon-num">4</span>-->
                        </div>
                    </div>
                    <div class="weibo-comment" sec:authorize="isAuthenticated()">
                        <div class="weibo-comment-content">
                            <textarea th:id="'commentText'+${weibo.getId()}" placeholder="发布你的评论"
                                      class="comment-textarea"></textarea>
                        </div>
                        <div class="weibo-comment-btn">
                            <button class="button-comment" th:onclick="passWeiboId([[${weibo.getId()}]])">
                                <span>发布</span>
                            </button>
                        </div>
                    </div>
                    <div th:id="'commentTable'+${weibo.getId()}" class="comment-contents"></div>
                </footer>
            </article>
        </div>

    </div>

    <div class="split-page-bottom">
        <ul class="pagination">
            <!-- 分页参考
            https://www.runoob.com/css3/css3-pagination.html
            需要通过后端改写
          -->
            <li><a class="page-inactive" th:href="@{/mainPage(start=0)}">«</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isFirst()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()-1})}">[上一页]</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isLast()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()+1})}">[下一页]</a></li>
            <li><a class="page-inactive" href="#">»</a></li>
        </ul>
    </div>
</div>
<script>
    $(document).on("keyup", "#weiboText-div",
        function () {
            $("#weiboText").val($(this).text());
        });

    $("#welcome-title").click(function () {
        window.location.href = '/selfWeibo'
    });

    $("#img-icon").click(function () {
        console.log("click!!!");
        document.getElementById("upload-img").click();
    });
    $("#login-btn").click(function () {
        window.location.href = '/login'
    });

    $("#logout-btn").click(function () {
        $.ajax({
            url: "/logout",
            type: "get",
            success: function () {
                alert("注销成功！")
                location.reload();
            },
            error: function () {
                alert("ajax错误！")
            }
        })
    });

    $("#reset-password-btn").click(function () {
        $.ajax({
            url: "/resetMailSend",
            type: "get",
            success: function (data) {
                alert(data)
            },
            error: function () {
                alert("ajax错误！")
            }
        })
    });

    const at_reg = /@[\u4e00-\u9fa5_a-zA-Z0-9]+\s/g;

    $('#weiboText-div').keypress(function (event) {
        const keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode === '13') {
            $(this).append("<br><br>")
        }
    });
    let reg_num = 0
    $("#weiboText-div").focus(function () {
        $(this).bind("input propertychange", function () {
            const input_content = $(this).text();
            // $(function () {
            //     $.each(content, function (index, value) {
            //         alert(index + ': ' + value);
            //     });
            // });
            if (input_content.match(at_reg)) {
                const target = $("#at-targets")
                const target_arr = input_content.match(at_reg)
                target.val("");
                for (let i = 0; i < target_arr.length; i++) {
                    target.val(target.val() + String.fromCharCode(32) + target_arr[i]);
                }
                $.ajax({
                    type: 'POST',
                    url: "/patternAt",
                    data: {
                        content: input_content,
                        // authorName: $("#login-userName").text(),
                        // weiboId: $("#weibo-id").text(),
                        // targetUser: input_content.match(at_reg)
                    },
                    success: function (data) {
                        console.log(data);
                        // 保证光标在最后
                        if (reg_num < input_content.match(at_reg).length) {
                            reg_num++;
                            $("#weiboText-div").html(data);
                            console.log(reg_num)
                            document.execCommand('selectAll', false, null);
                            document.getSelection().collapseToEnd();
                        }
                    },
                    error: function () {
                        alert("ajax错误！")
                    }
                });

            }

        })
    })
    // .blur(function () {
    //
    // });

    function like_add(id) {
        console.log(id)
        $.ajax({
            url: "/likeAdd",
            type: "get",
            data: {"weibo_id": id},
            success: function (data) {
                $("#likeNum" + id).html(data)
            },
            error: function () {
                alert("点赞出错");
                // alert("状态码：");
                // alert("请求状态：" + textStatus);
                // alert(errorThrown);
            }
        })
        $("#like-area").removeAttr('onclick');
    }

    function comment_show(id) {
        $.ajax({
            url: "/commentShow",
            type: "get",
            data: {"weibo_id": id},
            success: function (data) {
                console.log(data)
                const jsonObj = $.parseJSON(data)
                console.log(jsonObj)
                if ($("#commentTable" + id).html() === "") {
                    $.each(jsonObj, function (name, value) {
                        $("#commentTable" + id).prepend("<p class='single-comment'>" + "<span style='font-weight: bold'>" + value.name.toString() + "</span>" + " :  " + value.content.toString() + "</p><hr/>");
                    });
                } else {
                    $("#commentTable" + id).html("");
                }
            },
            error: function () {
                alert("评论出错");
            }
        })
    }

    function passWeiboId(id) {
        console.log(id)
        let commentText = $("#commentText" + id).val()
        console.log(commentText)
        $.ajax({
            url: "/commentAdd",
            type: "get",
            data: {"weibo_id": id, "commentText": commentText},
            success: function (data) {
                $("#commentNum" + id).html(data)
                $("#commentText" + id).val("")
            },
            error: function () {
                alert("发表失败");
            }
        })
        setTimeout("comment_show(" + id + ")", 500)
    }

    function keepLastIndex(tObj, sPos) {
        if (tObj.setSelectionRange) {
            setTimeout(function () {
                tObj.setSelectionRange(sPos, sPos);
                tObj.focus();
            }, 0);
        } else if (tObj.createTextRange) {
            const rng = tObj.createTextRange();
            rng.move('character', sPos);
            rng.select();
        }

    }
</script>
</body>
</html>
