<!DOCTYPE html>
<html
        lang="zh"
        dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8"/>
    <title>主页</title>
    <link rel="stylesheet" href="/css/mainPage.css"/>
    <link
            type="text/css"
            href="https://fonts.font.im/css?family=Do+Hyeon"
            rel="stylesheet"
    />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/mainPage.js"></script>
</head>

<body>

<div id="home-warp" class="home-warp">
    <!-- 发送微博面板 -->
    <div class="send-panel">
        <form id="send-form" action="/release" method="post" th:action="@{/release}" enctype="multipart/form-data">
            <!-- 输入区域 -->
            <div class="input-body">
            <textarea
                    sec:authorize="isAuthenticated()"
                    th:placeholder="${errorMsg}?${errorMsg}:有什么新鲜事想分享给大家"
                    class="input-area"
                    style="width: 100%; height: 48px"
                    name="weiboText"
            ></textarea>
                <textarea
                        sec:authorize="!isAuthenticated()"
                        placeholder="有什么新鲜事想分享给大家"
                        class="input-area"
                        style="width: 100%; height: 48px"
                        name="weiboText"
                        disabled
                ></textarea>
            </div>

            <!-- 下方按钮 -->
            <div class="buttons-flex" sec:authorize="isAuthenticated()">
                <div class="icon-items">
                    <div class="icon-item" title="@其他人">
                        <!-- i标签通过::before插入图片，详见
                      https://blog.csdn.net/crxk_/article/details/107338004
                      -->
                        <i class="at-icon"></i>
                    </div>
                    <div class="icon-item" title="发送图片">
                        <i id="img-icon" class="img-icon"></i>
                        <input type="file" id="upload-img" name="upload-img" style="display:none">
                    </div>
                </div>
                <!-- 输入框有内容才能enabled -->
                <button class="submit-button" type="submit">
                    <span class="button-content">发送</span>
                </button>
            </div>
        </form>
    </div>
    <!-- 排序面板 -->
    <div class="sort-panel">
        <button id="publish-date" class="sort-panel-button-cur" type="button"
                th:onclick="window.location.href='/mainPage?type=0'">
            <span class="button-content">发布时间</span>
        </button>

        <button id="comment-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=1'">
            <span class="button-content">评论数</span>
        </button>

        <button id="like-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=2'">
            <span class="button-content">点赞数</span>
        </button>
    </div>

    <!-- 微博内容 -->
    <div class="weibo-body-recycle-scroller">
        <!-- TODO: 用thymeleaf实现循环，显示多个微博 -->

        <div class="weibo-body-single" th:each="weibo:${weibos}">
            <article class="weibo-body">
                <div class="weibo-main">
                    <!-- 用户头像、用户名、发送时间 -->
                    <header class="weibo-info">
                        <!-- 用户头像，点击跳转用户页面 -->
                        <a th:href="@{/myweibo}" class="weibo-info-user-avatar" sec:authorize="isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <a href="#" class="weibo-info-user-avatar" sec:authorize="!isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <!-- 用户名，发送时间 -->
                        <div class="weibo-info-text">
                            <!-- 用户名 -->
                            <a href="#" class="weibo-info-user-name"
                               th:text="${weibo.getWeiboUser().getUsername()}"></a>
                            <!--                            <a href="#" class="weibo-info-user-name">LGH</a>-->
                            <!-- 发送时间 -->
                            <p th:text="${weibo.getReleaseTime()}" class="weibo-info-send-date">
                                5分钟前
                            </p>
                        </div>
                    </header>
                    <!-- 微博内容 -->
                    <div class="weibo-content">
                        <div class="weibo-content-text" th:text="${weibo.weiboText}">hello world</div>
                        <!--                        <div class="weibo-content-text">wtl</div>-->
                        <div class="weibo-content-img" th:each="pic:${weibo.getPictures()}">
                            <!-- 可以多个图片 -->
                            <div class="weibo-content-img-single">
                                <!--                                <img src="/img/test.jpg" alt="图片显示错误"/>-->
                                <img th:src="${pic.getPicturePath()}" alt="图片显示错误"/>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="weibo-content-footer">
                    <div class="weibo-content-footer-body">
                        <!-- 微博下方的评论按钮 -->
                        <div class="weibo-content-footer-item">
                            <div class="weibo-content-footer-icon-item" title="评论">
                                <i class="comment-icon"></i>
                            </div>
                            <span class="icon-num" th:text="${weibo.commentNum}"></span>
                            <!--                            <span class="icon-num">0</span>-->
                        </div>
                        <!-- 微博下方的点赞按钮 -->
                        <div class="weibo-content-footer-item">
                            <div class="weibo-content-footer-icon-item" title="点赞">
                                <i class="like-icon"></i>
                            </div>
                            <span class="icon-num" th:text="${weibo.likeNum}"></span>
                            <!--                            <span class="icon-num">4</span>-->
                        </div>
                    </div>
                </footer>
            </article>
        </div>

    </div>

    <div class="split-page-bottom">
        <ul class="pagination">
            <!-- 分页参考
            https://www.runoob.com/css3/css3-pagination.html
            需要通过后端改写
          -->
            <li><a class="page-inactive" th:href="@{/mainPage(start=0)}">«</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isFirst()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()-1})}">[上一页]</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isLast()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()+1})}">[下一页]</a></li>
            <li><a class="page-inactive" href="#">»</a></li>
        </ul>
    </div>
</div>
<script>
    const upload = document.getElementById("img-icon");
    upload.onclick = function () {
        console.log("click!!!")
        document.getElementById("upload-img").click();
    }
</script>
</body>
</html>
