<!DOCTYPE html>
<html
        lang="zh"
        dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8"/>
    <title>主页</title>
    <link rel="stylesheet" href="/css/mainPage.css"/>
    <link
            type="text/css"
            href="https://fonts.font.im/css?family=Do+Hyeon"
            rel="stylesheet"
    />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
    <script src="/js/mainPage.js"></script>
</head>

<body>

<script th:inline="javascript">
    const single = [[${alertMsg}]];
    if (single !== null) {
        alert(single)
    }
</script>

<div id="home-warp" class="home-warp">
    <div class="account-info">
        <button name="login-btn" id="login-btn" class="account-info-btn" sec:authorize="!isAuthenticated()">登录</button>
        <button name="logout-btn" id="logout-btn" class="account-info-btn" sec:authorize="isAuthenticated()">注销</button>
        <button name="reset-password-btn" id="reset-password-btn" class="account-info-btn"
                sec:authorize="isAuthenticated()">重置密码
        </button>
        <p id="welcome-title" class="welcome-title" sec:authorize="isAuthenticated()">欢迎，<span id="login-userName"
                                                                                               sec:authentication="name"></span>
        </p>
        <p class="welcome-title" sec:authorize="!isAuthenticated()">欢迎，游客</p>
    </div>
    <!-- 发送微博面板 -->
    <div class="send-panel">
        <form id="send-form" action="/release" method="post" th:action="@{/release}" enctype="multipart/form-data"
              style="display: flex;flex-direction: column;">
            <!-- 输入区域 -->
            <div class="input-body">
                <input type="hidden" id="at-targets" name="at-targets" value="">
                <div
                        sec:authorize="isAuthenticated()"
                        contenteditable="true"
                        th:placeholder="${errorMsg}?${errorMsg}:有什么新鲜事想分享给大家"
                        class="input-area"
                        id="weiboText-div"
                >
                </div>
                <textarea hidden name="weiboText" id="weiboText"></textarea>
                <!--                <div-->
                <!--                        sec:authorize="!isAuthenticated()"-->
                <!--                        contenteditable="true"-->
                <!--                        class="input-area"-->
                <!--                        style="background-color: rgba(255, 255, 255, 0);"-->
                <!--                ></div>-->
            </div>

            <!-- 下方按钮 -->
            <div class="buttons-flex" sec:authorize="isAuthenticated()">
                <div class="icon-items">
                    <div class="icon-item" title="@其他人">
                        <!-- i标签通过::before插入图片，详见
                      https://blog.csdn.net/crxk_/article/details/107338004
                      -->
                        <i class="at-icon"></i>
                    </div>
                    <div class="icon-item" title="发送图片">
                        <i id="img-icon" class="img-icon"></i>
                        <input type="file" id="upload-img" name="upload-img" style="display:none">
                    </div>
                </div>
                <!-- 输入框有内容才能enabled -->
                <button class="submit-button" type="submit" id="submit-button">
                    <span class="button-content">发送</span>
                </button>
            </div>
        </form>
    </div>
    <!-- 排序面板 -->
    <div class="sort-panel">
        <button id="publish-date" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=0'">
            <span class="button-content">发布时间</span>
        </button>

        <button id="comment-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=1'">
            <span class="button-content">评论数</span>
        </button>

        <button id="like-number" class="sort-panel-button" type="button"
                th:onclick="window.location.href='/mainPage?type=2'">
            <span class="button-content">点赞数</span>
        </button>
    </div>

    <!-- 微博内容 -->
    <div class="weibo-body-recycle-scroller" style="margin: 10px">

        <div class="weibo-body-single" th:each="weibo:${weibos}">
            <article class="weibo-body">
                <div class="weibo-main">
                    <!-- 用户头像、用户名、发送时间 -->
                    <header class="weibo-info">
                        <!-- 用户头像，点击跳转用户页面 -->
                        <p hidden id="weibo-id" th:text="${weibo.getId()}"></p>
                        <a th:href="@{/myWeibo(id=${weibo.getWeiboUser().getId()})}" class="weibo-info-user-avatar"
                           sec:authorize="isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <a href="#" class="weibo-info-user-avatar" sec:authorize="!isAuthenticated()">
                            <div class="weibo-info-user-avatar-body">
                                <img
                                        th:src="${weibo.getWeiboUser().getAvatarPath()}"
                                        alt="头像显示错误"
                                        class="weibo-info-user-avatar-img"
                                />
                            </div>
                        </a>
                        <!-- 用户名，发送时间 -->
                        <div class="weibo-info-text">
                            <!-- 用户名 -->
                            <a th:href="@{/myWeibo(id=${weibo.getWeiboUser().getId()})}" class="weibo-info-user-name"
                               sec:authorize="isAuthenticated()"
                               th:text="${weibo.getWeiboUser().getUsername()}"></a>
                            <a href="#" class="weibo-info-user-name" sec:authorize="!isAuthenticated()"
                               th:text="${weibo.getWeiboUser().getUsername()}"></a>
                            <!--                            <a href="#" class="weibo-info-user-name">LGH</a>-->
                            <!-- 发送时间 -->
                            <p th:text="${weibo.getReleaseTime()}" class="weibo-info-send-date">
                                5分钟前
                            </p>
                        </div>
                    </header>
                    <!-- 微博内容 -->
                    <div class="weibo-content">
                        <div class="weibo-content-text" th:text="${weibo.weiboText}">hello world</div>
                        <!--                        <div class="weibo-content-text">wtl</div>-->
                        <div class="weibo-content-img" th:each="pic:${weibo.getPictures()}">
                            <!-- 可以多个图片 -->
                            <div class="weibo-content-img-single">
                                <!--                                <img src="/img/test.jpg" alt="图片显示错误"/>-->
                                <img th:src="${pic.getPicturePath()}" alt="图片显示错误"/>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="weibo-content-footer">
                    <div class="weibo-content-footer-body">
                        <!-- 微博下方的评论按钮 -->
                        <div class="weibo-content-footer-item" th:onclick="comment_show([[${weibo.getId()}]])"
                             id="comment-area">
                            <div class="weibo-content-footer-icon-item" title="评论">
                                <i class="comment-icon"></i>
                            </div>
                            <span th:id="'commentNum'+${weibo.getId()}" class="icon-num"
                                  th:text="${weibo.getCommentNum()}"></span>
                            <!--                            <span class="icon-num">0</span>-->
                        </div>
                        <!-- 微博下方的点赞按钮 -->
                        <div class="weibo-content-footer-item" th:onclick="like_add([[${weibo.getId()}]])"
                             sec:authorize="isAuthenticated()" id="like-area">
                            <div class="weibo-content-footer-icon-item" title="点赞">
                                <i class="like-icon"></i>
                            </div>
                            <span class="icon-num" th:id="'likeNum'+${weibo.getId()}"
                                  th:text="${weibo.getLikeNum()}"></span>
                            <!--                            <span class="icon-num">4</span>-->
                        </div>
                        <div class="weibo-content-footer-item" onclick="alert('请先登录')"
                             sec:authorize="!isAuthenticated()">
                            <div class="weibo-content-footer-icon-item" title="点赞">
                                <i class="like-icon"></i>
                            </div>
                            <span class="icon-num" th:id="'likeNum'+${weibo.getId()}"
                                  th:text="${weibo.getLikeNum()}"></span>
                            <!--                            <span class="icon-num">4</span>-->
                        </div>
                    </div>
                    <div class="weibo-comment" sec:authorize="isAuthenticated()">
                        <div class="weibo-comment-content">
                            <textarea th:id="'commentText'+${weibo.getId()}" placeholder="发布你的评论"
                                      class="comment-textarea"></textarea>
                        </div>
                        <div class="weibo-comment-btn">
                            <button class="button-comment" th:onclick="passWeiboId([[${weibo.getId()}]])">
                                <span>发布</span>
                            </button>
                        </div>
                    </div>
                    <div th:id="'commentTable'+${weibo.getId()}" class="comment-contents"></div>
                </footer>
            </article>
        </div>

    </div>

    <div class="split-page-bottom">
        <ul class="pagination">
            <!-- 分页参考
            https://www.runoob.com/css3/css3-pagination.html
            需要通过后端改写
          -->
            <li><a class="page-inactive" th:href="@{/mainPage(start=0)}">«</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isFirst()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()-1})}">[上一页]</a></li>
            <li><a class="page-inactive" th:if="${not weibos.isLast()}"
                   th:href="@{/mainPage(start=${weibos.getNumber()+1})}">[下一页]</a></li>
            <li><a class="page-inactive" href="#">»</a></li>
        </ul>
    </div>
</div>

</body>
</html>
