<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@与我相关</title>
    <link rel="stylesheet" href="/css/fans.css">
    <script src="/js/fans.js"></script>
</head>
<body>

<header>
    <div class="usr-left">
        <img class="usr-avatar" src="/img/user_avatar.JPG" alt="图片显示错误">
    </div>
    <div class="usr-info">
        <p class="user-name">wtl_bupt</p>
        <div class="info-detail">
            <div class="detail-num">
                <p>212</p>
                <p>45</p>
                <p>1152</p>
            </div>
            <div class="detail-cate">
                <p>关注数</p>
                <p>粉丝数</p>
                <p>微博数</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="left-box">
        <a href="myweibo.html">
            <div class="item">
                <img class="icon" src="/img/列表_0.png" alt="图片显示错误">
                <span>我的微博</span>
            </div>
        </a>
        <a href="fans.html">
            <div class="item">
                <img class="icon" src="/img/关注_0.png" alt="图片显示错误">
                <span>关注与粉丝</span>
            </div>
        </a>
        <a href="myat.html">
            <div class="item">
                <img class="icon" src="/img/艾特_1.png" alt="图片显示错误">
                <span style="color: orange">@与我相关</span>
            </div>
        </a>
    </div>
</div>

</body>
</html>