<!DOCTYPE html>
<html lang="zh" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>注册</title>
    <link rel="stylesheet" href="/css/register.css"/>
    <link type="text/css" href="https://fonts.font.im/css?family=Do+Hyeon" rel="stylesheet"/>
    <script src="/js/register.js"></script>
</head>

<body>

<div class="signup-form">
    <form th:action="@{/register}" name="signup" id="signup" method="POST" enctype="multipart/form-data">
        <h1 th:text="${msg}?${msg}:注册">
            注册
        </h1>
        <label>
            <input
                    type="text"
                    name="email"
                    placeholder="E-mail"
                    title="请输入格式如example@bupt.com的邮箱地址"
                    class="txtb"
                    autofocus="autofocus"
                    required="required"
                    autocomplete="off"
                    pattern="[\w\-.]+@[\w\-.]+(\.\w+)+"
            />
        </label>
        <label>
            <input
                    type="text"
                    name="username"
                    placeholder="User Name"
                    class="txtb"
                    required="required"
                    autocomplete="off"
            />
        </label>
        <label>
            <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    class="txtb"
                    required="required"
            />
        </label>
        <!--        <button id="upload-btn" name="upload-btn" class="upload-btn">上传头像</button>-->
        <!--        <input type="file" value="上传头像" id="upload-input" name="upload-input" style="display:none"/>-->
        <input type="submit" value="注册" id="register-btn" class="signup-btn"/>
        <input type="button" value="登录" id="login" name="login" class="signup-btn" style="margin-top: 20px;"/>
        <a href="https://github.com/FAWC-bupt/WebFinal">Star us on Github</a>
    </form>
</div>
</body>
</html>
