<!DOCTYPE html>
<html lang="zh" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>重置密码</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <link type="text/css" href="https://fonts.font.im/css?family=Do+Hyeon" rel="stylesheet"/>
    <script src="/js/resetUserPassword.js"></script>
</head>

<body>

<div class="signup-form">
    <form th:action="@{/resetUserPassword}" name="signup" id="signup" method="POST">
        <h1 th:text="${states}">
            认证成功
        </h1>

        <label th:if="${states} eq 认证成功">
            <input
                    type="password"
                    name="newPassword"
                    placeholder="New Password"
                    class="txtb"
                    required="required"
            />
        </label>

        <input th:if="${states} eq 认证成功" type="hidden" id="email" name="email" th:value="${email}">

        <input type="submit" value="确认" class="signup-btn" th:if="${states} eq 认证成功"/>
        <input type="button" id="turn-back" value="返回登录页" class="signup-btn" th:unless="${states} eq 认证成功"/>
        <a href="https://github.com/FAWC-bupt/WebFinal">Star us on Github</a>
        <!--        <h2>User for test: admin</h2>-->
        <!--        <h2>Password for test: 123456</h2>-->
    </form>
</div>
</body>
</html>
